.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    background: #282c34;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 150px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar .active {
    border-bottom: 2px solid #61dafb;
}

.profile-icon {
    font-size: 1.5rem;
    color: white;
    padding: 5px;
    transition: 0.3s;
}

.profile-icon:hover {
    color: #61dafb;
}

